*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgb(236, 209, 230);
  min-height: 50px;
  border: 1px solid black;

}

.ac-container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: brown;
}

#nav{
  height: 65px;
  background-color: aqua;
}